.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Add this CSS to your project's stylesheet */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: 1rem 2.5rem;
  margin-right: 6rem;
}

.video-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #333;
}

iframe{
  height: 90vh;
  width: 90vw;
}

video{
  height: 90vh;
  width: 90vw;
}

@media screen and (max-width: 768px) {
  iframe,
  video {
    height: 60vh; /* Adjust the percentage as needed */
    width: 80vw; /* Adjust the percentage as needed */
  }
}

@media screen and (max-width: 480px) {
  iframe,
  video {
    height: 50vh; /* Adjust the percentage as needed */
    width: 80vw; /* Adjust the percentage as needed */
  }
}


.App-header {
  background-color: #7aebff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
